<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FrontLineGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <FrontLineGUI.Properties.Settings>
            <setting name="MainBackground" serializeAs="String">
                <value>8, 15, 23</value>
            </setting>
            <setting name="FLWeb" serializeAs="String">
                <value>https://www.fl.co.uk</value>
            </setting>
            <setting name="WebSite" serializeAs="String">
                <value>https://www.frontlinecleaner.com</value>
            </setting>
            <setting name="Repo" serializeAs="String">
                <value>https://www.github.com/flutils/frontline-registry-cleaner</value>
            </setting>
            <setting name="AppDataDir" serializeAs="String">
                <value>%APPDATA%\Frontline Utilities LTD</value>
            </setting>
            <setting name="FlatIconWeb" serializeAs="String">
                <value>https://www.flaticon.com</value>
            </setting>
            <setting name="PrivacyPolicy" serializeAs="String">
                <value>https://www.frontlinecleaner.com/privacy</value>
            </setting>
            <setting name="DataPolicy" serializeAs="String">
                <value>https://www.frontlinecleaner.com/data</value>
            </setting>
            <setting name="LicensingPolicy" serializeAs="String">
                <value>https://www.frontlinecleaner.com/licensing</value>
            </setting>
            <setting name="MadeInBritain" serializeAs="String">
                <value>https://www.madeinbritain.org/members/frontline-utilities-ltd</value>
            </setting>
            <setting name="Address" serializeAs="String">
                <value>3 Dearnford Avenue, Bromborough, Wirral, CH62 6DX, United Kingdom</value>
            </setting>
            <setting name="Email" serializeAs="String">
                <value>support@fl.co.uk</value>
            </setting>
            <setting name="RegNumber" serializeAs="String">
                <value>07037173</value>
            </setting>
            <setting name="VATNumber" serializeAs="String">
                <value>GB121358444</value>
            </setting>
            <setting name="CompaniesHouse" serializeAs="String">
                <value>https://find-and-update.company-information.service.gov.uk/company/07037173</value>
            </setting>
            <setting name="VATCheck" serializeAs="String">
                <value>https://www.tax.service.gov.uk/check-vat-number/enter-vat-details</value>
            </setting>
        </FrontLineGUI.Properties.Settings>
    </applicationSettings>
</configuration>