<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FrontLineGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <FrontLineGUI.Properties.Settings>
            <setting name="MainBackground" serializeAs="String">
                <value>8, 15, 23</value>
            </setting>
            <setting name="FLWeb" serializeAs="String">
                <value>https://www.frontlineutilities.co.uk</value>
            </setting>
            <setting name="WebSite" serializeAs="String">
                <value>https://www.frontlinecleaner.com</value>
            </setting>
            <setting name="Repo" serializeAs="String">
                <value>https://www.github.com/flutils/flcleaner</value>
            </setting>
            <setting name="AppDataDir" serializeAs="String">
                <value>%APPDATA%\Frontline Utilities LTD</value>
            </setting>
        </FrontLineGUI.Properties.Settings>
    </applicationSettings>
</configuration>